*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family: 'Bebas Neue', cursive;
   
   

}


.conteinar{
    background-color: aqua;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    border: 0cm;
}
.menu a{
    
    text-decoration: none;
    padding: 0 12px;
    color:lightcoral;
    font-size: large;
}
.menu{
    float: right;

}

.name{
    color: blueviolet;
    margin: 0 0 0 44px;
}
    
.main{
    padding: 98px 0 0 13px ;
    text-shadow: peru;
}
.name-style{
    font-size: 30px;
    color:rgb(221, 41, 17);
}

.r-style{
    font-size:40px initial;
    color:rgb(255, 122, 222);
    
}

button{
    padding:3px 10px ;
    background-color: blueviolet;
    color: aliceblue;
    border: 2px solid lightgreen;
    border-radius:7px;
    cursor: pointer;
}

.contact-img{
    height: 320px;
    width: 320px;
    margin:100px 0px 0px 380px;
    border: 40px 40px;
    
}
section{
    display: flex;
}
.box-cad{
 padding:60px;
 margin-top: 100px;
}
.stack-dev{
    
    width:50%;
    box-shadow: 6px 6px 5px 5px;
    margin:10px 0px 0px 20px;
    padding: 80px;
    border-left: 4px solid lightsalmon;
    }
.web-dev{
    width:50%;
    box-shadow: 6px 6px 5px 5px;
    margin:10px 0px 0px 20px;
    padding: 80px;
   border-left: 4px solid navy;
}

.bottom-style{
    background-color: black;
    background-position: 1000%;
    text-align: center;
    padding: 8px;
}
.bottom-style a,p{
    color: blue;
    text-decoration: none;
    padding: 10px;
    
}
.bottom-style p:hover{
    color: antiquewhite;
    
}
.bottom-style a:hover{
    color: antiquewhite;
    text-decoration: underline;
    width: 100%;
}
footer{
    padding-top:50px;
    margin: 0 auto;
    padding-bottom: 0px;
}